*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --green:rgb(32, 241, 154);
    --white:#fff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #ffffff, #daf0ff, #93e8fe, #4edfd2, #60ce84);
    min-height: 100vh;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    height: 80vh;
    width: clamp(30vw,28rem, 80vw);
    background-color:var(--white);
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.1);
}
.logo{
    border-radius:50%;
    background-color: var(--white);
    padding: 1rem;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1)
    
}
img{
    width: 100px;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
}
.title{
    text-align: center;
    color: var(--green);
    font-size: 2em;
}

.input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto; 
    gap: 0.35rem;
    height: 100%;
    width:80%;
}
i{
    font-size:1.25em;
    color: var(--green);
    position: relative;
    top:10px;

}


.btn{
    border-radius:5rem;
    width: 70%;
    margin: 0 auto;
    margin-top:1.5rem;
    padding: 0.5rem;
    height: 100%;
    font-size: 1.05em;
    font-weight: 500;
    background-color:var(--green);
    color: var(--white);
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid black;
}
.btn:hover{
    transform: scale(1.1)
}

.footer1{
    font-size:0.9em;
    padding: 0.5rem;
    color: var(--green);
}
.footer{
    padding: 0.5rem;
    font-size: 0.9em;
}
a{
    color: var(--green);
}
a:hover{
    color: rgb(135, 190, 212);
}